<div class="page-header">
  <% if current_user.publish_permission? %>
    <%= link_to "Link to Facebook", 'javascript:void(0)' , class: 'btn btn-primary btn-lg disabled' %>
    <%= link_to "Unlink to Facebook", revoke_publish_permission_path , class: 'btn btn-primary btn-lg', confirm: 'Are you sure', method: :delete %>
    <%= link_to "Post to facebook", post_on_wall_path , class: 'btn btn-primary btn-lg', method: :put %>
  <% else %>
    <%= link_to "Link to Facebook", user_omniauth_authorize_path(:facebook, scope: 'email,publish_actions') , class: 'btn btn-primary btn-lg' %>
    <%= link_to "Unlink to Facebook", "javascript:void(0)" , class: 'btn btn-primary btn-lg disabled' %>
    <%= link_to "Post to facebook", "javascript:void(0)" , class: 'btn btn-primary btn-lg disabled' %>
  <% end %>
</div>
