<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>Yeah, you got it right</h1>
      <p class="lead">Just login and share on Facebook</p>
    </div>
    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
      <div class="well sponsor">
        <%= link_to 'http://bootswatch.com', target: '_blank' do -%>
          <h4 style="margin-bottom: 0.4em;">Free themes for Bootstrap</h4>
          <div class="clearfix">
            <p>Easy to install</p>
            <p>Open source</p>
            <p>Lots of free popular templates and themes</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
