<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">My Awesome app</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to current_user.try( :email), 'javascript:void(0)' %></li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to('Login', new_user_session_path)  %>
              </li>
              <li>
                <%= link_to('Sign Up', new_user_registration_path)  %>
              </li>
              <li>
                <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
